<header id="header-app" class="header-app">
	<div class="header-app__content">
		<div class="header-app__logo">
			<a href="{{ path('app_home') }}" title="All4Sport">
				<img src="http://127.0.0.1:8000/media/images/header/logo.png">
			</a>
		</div>
		<nav class="header-app__nav">
			<ul>
				{% set path = app.request.getPathInfo() %}
				<li>
					<a href="{{ path('app_home') }}" class="{{ path == path('app_home') ? 'on' : '' }}" title="Accueil">Accueil</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
