{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <p>La page que vous avez demandé n'a pas été trouvé, retournez sur la page <a href="{{ path('app_client_home') }}">d'accueil</a></p>
{% endblock %}
