{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="top-content">

    <h2>Nos meilleures ventes et catégories</h2>

<div class="slider-container">
    
    <div class="card-slider">
        <div class="card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Image 1">
            <div class="card-content">
                <div class="left">
                    <h4>Nom de l'article 1</h4>
                    <p>Description de l'article 1.</p>
                </div>
                <div class="right">
                    <p class="bottom-product-price"> $50</p>
                    <p>Nombre de ventes : 100</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/media/images/home/slider/chaussure2-slider.jpg" alt="Image 2">
            <div class="card-content">
                <div class="left">
                    <h4>Nom de l'article 1</h4>
                    <p>Description de l'article 1.</p>
                </div>
                <div class="right">
                    <p class="bottom-product-price"> $50</p>
                    <p>Nombre de ventes : 100</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/media/images/home/slider/chaussure3-slider.jpg" alt="Image 3">
            <div class="card-content">
                <div class="left">
                    <h4>Nom de l'article 1</h4>
                    <p>Description de l'article 1.</p>
                </div>
                <div class="right">
                    <p class="bottom-product-price"> $50</p>
                    <p>Nombre de ventes : 100</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider-nav">
    <button id="prevButton">&lt;</button>
    <button id="nextButton">&gt;</button>
</div>

</section>



<section class="bottom-content">

    <h2>La sélection du moment</h2>

<div class="category-container">
    <h4>Nos meilleurs produits par catégories</h4>
    <div class="bottom-product-cards">
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 1">
            <h3>Nom du Produit 1</h3>
            <p class="bottom-product-categorie">Catégorie 1</p>
            <p class="bottom-product-price"> $20</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 2">
            <h3>Nom du Produit 2</h3>
            <p class="bottom-product-categorie">Catégorie 2.</p>
            <p class="bottom-product-price"> $25</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 3">
            <h3>Nom du Produit 3</h3>
            <p class="bottom-product-categorie">Catégorie 3.</p>
            <p class="bottom-product-price"> $30</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 4">
            <h3>Nom du Produit 4</h3>
            <p class="bottom-product-categorie">Catégorie 4.</p>
            <p class="bottom-product-price"> $15</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 5">
            <h3>Nom du Produit 5</h3>
            <p class="bottom-product-categorie">Catégorie 5.</p>
            <p class="bottom-product-price"> $18</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 6">
            <h3>Nom du Produit 6</h3>
            <p class="bottom-product-categorie">Catégorie 6.</p>
            <p class="bottom-product-price"> $14</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 1">
            <h3>Nom du Produit 1</h3>
            <p class="bottom-product-categorie">Catégorie 1</p>
            <p class="bottom-product-price"> $20</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 2">
            <h3>Nom du Produit 2</h3>
            <p class="bottom-product-categorie">Catégorie 2.</p>
            <p class="bottom-product-price"> $25</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 3">
            <h3>Nom du Produit 3</h3>
            <p class="bottom-product-categorie">Catégorie 3.</p>
            <p class="bottom-product-price"> $30</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 4">
            <h3>Nom du Produit 4</h3>
            <p class="bottom-product-categorie">Catégorie 4.</p>
            <p class="bottom-product-price"> $15</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 5">
            <h3>Nom du Produit 5</h3>
            <p class="bottom-product-categorie">Catégorie 5.</p>
            <p class="bottom-product-price"> $18</p>
            <button>Acheter</button>
        </div>
        <div class="bottom-card">
            <img src="/media/images/home/slider/chaussure1-slider.jpg" alt="Produit 6">
            <h3>Nom du Produit 6</h3>
            <p class="bottom-product-categorie">Catégorie 6.</p>
            <p class="bottom-product-price"> $14</p>
            <button>Acheter</button>
        </div>
    </div>
</div>

</section>

<script src="{{ asset('js/home.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
