{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}




<div class="slider-container">

    <h3> Nos articles les plus populaires ! </h3>

    <img class="slider-image" src="/media/images/home/slider/chaussure1-slider.jpg" alt="Image 1">
    <img class="slider-image" src="/media/images/home/slider/chaussure2-slider.jpg" alt="Image 2">
    <img class="slider-image" src="/media/images/home/slider/chaussure3-slider.jpg" alt="Image 3">
</div>


<div class="slider-nav">
    <button id="prevButton"><</button>
    <button id="nextButton">></button>
</div>







<script src="{{asset('js/home.js')}}"></script>
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
