{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block header %}
    {% include 'logistics/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Tableau de bord, logistique</h1>
{% endblock %}
