@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
    --primaryColor: #000;
    --secondColor: #f7882d;
    --boxShadowColor: #ddd;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat";
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app .main-app {
    flex-grow: 1;
}

.card button,
.card a,
.bottom-buttons-card button,
.bottom-buttons-card a {
    font-size: 14px;
    color: white;
    background-color: var(--primaryColor);
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
}

.card button:hover,
.card a:hover,
.bottom-buttons-card button:hover,
.bottom-buttons-card a:hover {
    background-color: rgb(29, 29, 29);
    cursor: pointer;
    transition-duration: 0.2s;
}
