.price-order {
    background-color: #f7882d20;
    text-align: center;
    max-width: max-content;
    margin: 20px auto;
    padding: 4px 10px;
    border-left: 3px solid #f7882d;
}

.price-order span {
    font-weight: bold;
    font-size: 1.2em;
}

.confirm-order {
    display: block;
    font: inherit;
    max-width: max-content;
    margin: 20px auto;
    padding: 6px 10px;
    border-radius: var(--radiusBorder);
    transition: .2s ease;
    transition-property: background-color, color;
    background-color: var(--primaryColor);
    color: #fff;
}

.confirm-order:hover {
    background-color: #f7882d;
}

.product-quantity {
    color: var(--primaryColor);
    font-weight: bold;
    background-color: #c6c6c6;
    margin-top: 5px;
    padding: 5px;
    border-radius: var(--radiusBorder);
}

.noProductInCart {
    background-color: #f7882d;
    border-radius: var(--radiusBorder);
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    color: #fff;
}

.noProductInCart a {
    background-color: var(--primaryColor);
    border-radius: var(--radiusBorder);
    padding: 5px;
    color: #fff;
}

.noProductInCart a:hover {
    background-color: rgb(29, 29, 29);
}

.priceAndConfirmOrder {
    border-radius: var(--radiusBorder);
    padding: 0px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
