.cart-title {
    text-align: center;
    color: white;
    background-color: var(--primaryColor);
    padding: 10px;
    border: none;
    width: 100%;
    margin: 0;
}

.bottom-product-cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.price-order {
    background-color: #f7882d20;
    text-align: center;
    max-width: max-content;
    margin: 20px auto;
    padding: 4px 10px;
    border-left: 3px solid #f7882d;
}

.price-order span {
    font-weight: bold;
    font-size: 1.2em;
}

.confirm-order {
    display: block;
    background-color: transparent;
    font: inherit;
    max-width: max-content;
    margin: 20px auto;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: .2s ease;
    transition-property: background-color, color;
    background-color: var(--primaryColor);
    color: white;
}

.confirm-order:hover {
    background-color: #f7882d;
    color: #fff;
}

.product-quantity {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
    background-color: #c6c6c6;
    padding: 5px;
    border-radius: 5px;
}

.bottom-buttons-card {
    gap: 2px;
}

.bottom-buttons-card button {
    padding: 7px;
    font-size: 10px;
    border-radius: 5px;
}

.noProductInCart {
    font-weight: bold;
    text-align: center;
    background-color: #f7882d;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    margin: auto;
    margin-top: 50px;
    color: white;
}

.noProductInCart a {
    background-color: var(--primaryColor);
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.noProductInCart a:hover {
    background-color: rgb(29, 29, 29);
}

.priceAndConfirmOrder {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0px 10px;
    width: max-content;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
