/* Style for the main heading */
h1 {
    text-align: center;
    color: white;
    background-color: var(--primaryColor);
    padding: 10px;
}

.category-container {
    padding: 40px 20px;
}

.category-name {
    margin-bottom: 20px;
    background-color: var(--primaryColor);
    padding: 10px;
    width: max-content;
    border-radius: var(--radiusBorder);
    font-weight: bold;
    transition: background-color .2s ease;
}

.category-name a {
    color: white;
}

.category-name a:hover {
    background-color: #ff8800;
}

.products-list {
    display: flex;
    gap: 15px;
}

/* ---------------------- search bar ------------------------ */

/* Styles pour la barre de recherche */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #ddd;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: var(--radiusBorder);
    margin-right: 10px;
    border: 1px solid #ddd;
}

#search-input:focus {
    background-color: #f4f4f4;
    color: #fff;
}

#category-filter {
    padding: 5px;
    border: none;
    border-radius: var(--radiusBorder);
    background-color: #ffffff;
    color: #000000;
    margin-right: 10px;
}

#search-button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

#search-button:hover {
    background-color: #000000;
}
