/* Styles for the Connexion page */
.top-content {
    text-align: center;
    background-color: var(--primaryColor);
    padding: 10px;
}

.top-content h2 {
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

form h1 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--primaryColor);
}

label {
    display: block;
    color: var(--primaryColor);
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    background-color: #fff;
}

button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: var(--radiusBorder);
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    transition: background-color .2s ease;
}

button:hover {
    background-color: var(--secondColor);
}

.alert-danger {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: var(--radiusBorder);
    margin-top: 10px;
    text-align: center;
}

.ConnexionStatus {
    margin: 15px;
    margin-bottom: 45px;
    width: 100%;

}

/* Styles for the "Vous êtes connecté en tant que" section */
.ConnexionStatus a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--primaryColor);
    padding: 5px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.ConnexionStatus a:hover {
    background-color: var(--secondColor);
}

/* Style for the "Vous n'êtes pas encore inscrit ?" link */
.GoToSignUp {
    text-align: center;
    margin-top: 40px
}

.GoToSignUp a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--primaryColor);
    padding: 5px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.GoToSignUp a:hover {
    background-color: var(--secondColor);
}
