/* ------------------ Section affiche du produit ---------------------- */

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.product-image {
    width: 50%;
}

.product-image img {
    width: 100%;
}

.product-details {
    width: 50%;
}

.product-details p {
    margin: 10px 0;
    color: var(--primaryColor);
    border-radius: var(--radiusBorder);
}

.product h2 {
    color: #fff;
    background-color: var(--primaryColor);
    padding: 10px;
    border-radius: var(--radiusBorder);
}

.product button {
    display: block;
    font-size: 18px;
    color: var(--primaryColor);
    background-color: var(--secondColor);
    width: 100%;
    padding: 10px;
    border-radius: var(--radiusBorder);
    transition: .2s ease;
    transition-property: background-color, color;
}

.product button:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

/* ------------------ Section stock du produit ---------------------- */
.stock-info {
    margin-bottom: 40px;
}

.stock-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

h3 {
    color: #fff;
    width: 100%;
    background-color: var(--primaryColor);
    border-radius: var(--radiusBorder);
    padding: 10px;
    margin-bottom: 10px;
}

.stock-info li {
    color: var(--primaryColor);
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
    padding: 6px 10px;
}

.stock-location {
    font-weight: bold;
}
