/* ------------------ Section affiche du produit ---------------------- */

.product {
    display: flex;
    align-items: center;
    margin: 20px;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    width: 400px;
    border-radius: 10px;
}

.product-details {
    flex: 1;
    text-align: left;
    padding: 20px;


}

.product-details p {
    max-width: 700px
}

.product-details p {
    margin-bottom: 10px;
    color: var(--primaryColor);
    width: max-content;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 10px;
}

.product h2 {
    color: white;
    background-color: var(--primaryColor);
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 7px;

}

.product p {
    font-size: 16px;
    margin: 5px 0;
}

.product button {
    font-size: 18px;
    color: var(--primaryColor);
    background-color: rgb(247, 136, 45);
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    font-weight: bold;

}

.product button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

/* ------------------ Section stock du produit ---------------------- */
.stock-info {
    text-align: left;
    padding: 10px;
    height: max-content;
}

.stock-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.stock-info h3 {
    color: white;
    width: 100%;
    background-color: var(--primaryColor);
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
}

.stock-info ul {
    list-style-type: none;
    padding: 0;
}

.stock-info li {
    margin-bottom: 10px;
    color: var(--primaryColor);
    width: max-content;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 10px;
}

.stock-location {
    font-weight: bold;
}

/* ------------------ Section suggestions de produits ---------------------- */

.products-suggestions h3 {
    color: white;
    width: 98.5%;
    background-color: var(--primaryColor);
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

/* Style des cartes de produit */
.bottom-product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* Style d'une carte de produit individuelle */
.bottom-card {
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style de l'image du produit */
.bottom-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Style du titre du produit */
.bottom-card h3 {
    font-size: 10px;
    color: var(--primaryColor);
    margin: 10px 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style de la description du produit */
.bottom-card p {
    font-size: 14px;
    margin: 5px 0;

}

.bottom-product-category {
    font-size: 10px;
    color: var(--primaryColor);
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #ddd;
}

.bottom-product-category:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Style du prix du produit */
.bottom-product-price {
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 136, 45);
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    font-weight: bold;
}

.bottom-buttons-card {
    display: flex;
    justify-content: flex;
    gap: 5px;
}
