{% extends 'base.html.twig' %}

{% block title %}{{ category.getName() }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/category.css') }}">
{% endblock %}

{% block body %}
	<h1>{{ category.getName() }}</h1>
	<div class="app_container app_padding">
		<div class="search-bar">
			<input type="text" id="search-input" placeholder="Rechercher un produit" style="color:var(--primaryColor);">
			<button id="search-button">🔍</button>
		</div>
		<div class="product_cards">
			{% for product in category.getProducts() %}
				{% include 'product_card.html.twig' with {'product': product} %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
