{# templates/profile/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	Change Password
{% endblock %}

{% block body %}
	<h1>Change Password</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
