@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
    --primaryColor: #000;
    --secondColor: #f7882d;
    --whiteColor: #fff;
    --boxShadowColor: #ddd;
    --radiusBorder: 4px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    font: inherit;
}

button {
    font: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat";
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    pointer-events: initial;
    transition: opacity .2s ease;
}
.app.hidden {
    opacity: 0;
    pointer-events: none;
}

.app .main-app {
    flex-grow: 1;
    padding-top: 60px;
}

h1 {
    color: var(--primaryColor);
    text-align: center;
    margin-bottom: 40px;
}

.app_container {
    max-width: 1000px;
    margin: 0 auto;
}

.app_padding {
    padding: 0 20px;
}

/* Style des cartes de produit */
.product_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Style d'une carte de produit individuelle */
.product_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 220px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
    background-color: var(--whiteColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style de l'image du produit */
.product_card .product_card-images {
    width: 100%;
}

.product_card-image--selected,
.product_card-image img {
    width: 100%;
    border-radius: var(--radiusBorder);
}

.product_card-images_list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.product_card-images_list .product_card-image {
    position: relative;
    width: calc(100% / 5 - 5px * 4 / 5);
    cursor: pointer;
}
.product_card-images_list .product_card-image::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    background-color: #ddd;
    visibility: hidden;
    opacity: 0;
    width: 50%;
    height: 1px;
    transition: .2s ease;
    transition-property: background-color, visibility, opacity;
}
.product_card-images_list .product_card-image:hover::after,
.product_card-images_list .product_card-image.selected::after {
    visibility: visible;
    opacity: 1;
}
.product_card-images_list .product_card-image.selected::after {
    background-color: var(--secondColor);
}

/* Style du titre du produit */
.product_card-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: .9em;
    color: var(--primaryColor);
    margin: 10px 0;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Style de la description du produit */
.product_card-description  {
    font-size: 1em;
}

/* Style du prix du produit */
.product_card-price  {
    color: var(--primaryColor);
    background-color: var(--secondColor);
    padding: 10px;
    border-radius: var(--radiusBorder);
    font-weight: bold;
}

.product_card-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
}

.product_card-stock {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.product_card-buttons button,
.product_card-buttons a {
    background-color: var(--primaryColor);
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.product_card-buttons button:hover,
.product_card-buttons a:hover {
    background-color: rgb(29, 29, 29);
}
