.flex {
    display: flex;
    gap: 10px;
}

.priceAndConfirmOrder {
    align-self: flex-start;
    flex-grow: 1;
    position: sticky;
    top: 80px;
    background-color: var(--whiteColor);
}

.priceAndConfirmOrder .order_price {
    background-color: #f7882d10;
    margin: 0 auto 20px;
    padding: 4px 10px;
    border-left: 3px solid #f7882d;
}
.priceAndConfirmOrder .order_price p {
    margin: 10px 0;
}
.priceAndConfirmOrder .order_price span {
    font-weight: bold;
    font-size: 1.2em;
}

.product_cards,
.order_details {
    width: 100%;
    max-width: calc(240px * 3 + 5px * 2);
    padding-bottom: 20px;
}

.confirm-order {
    margin: 20px 0;
}

.confirm-order button {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    width: 100%;
    padding: 8px 10px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}
.confirm-order button:hover {
    background-color: #f7882d;
}

.product_card-quantity {
    color: var(--primaryColor);
    font-weight: bold;
    background-color: #e7e7e7;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: var(--radiusBorder);
}

.noProductInCart {
    background-color: #f7882d;
    border-radius: var(--radiusBorder);
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    color: var(--whiteColor);
}

.noProductInCart a {
    background-color: var(--primaryColor);
    border-radius: var(--radiusBorder);
    padding: 5px;
    color: var(--whiteColor);
}

.noProductInCart a:hover {
    background-color: rgb(29, 29, 29);
}

/* place_older */
.modify_cart {
    margin-bottom: 40px;
}

.modify_cart a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--primaryColor);
}
.modify_cart a svg {
    transition: transform .2s ease;
}
.modify_cart a:hover svg {
    transform: translateX(-4px);
}

input:checked + label + .form {
    display: block;
}

.delivery_choice-title {
    margin-bottom: 10px;
}

.form {
    display: none;
}

label {
    display: inline-block;
    font-weight: bold;
}
input:checked + label {
    margin-bottom: 20px;
}
.box-input input {
    margin: 12px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
}

.delivery_choice-box > input,
.delivery_choice-box > label {
    cursor: pointer;
}

.delivery_choice-box {
    max-width: max-content;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: var(--radiusBorder);
}

.box-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
}
