.app_container {
    display: flex;
    gap: 10px;
    padding-top: unset;
    padding-bottom: 40px;
}

.priceAndConfirmOrder {
    align-self: flex-start;
    flex-grow: 1;
    position: sticky;
    top: 80px;
    background-color: var(--whiteColor);
}

.priceAndConfirmOrder .order_price {
    background-color: #f7882d10;
    margin: 0 auto 20px;
    padding: 4px 10px;
    border-left: 3px solid #f7882d;
}
.priceAndConfirmOrder .order_price p {
    margin: 10px 0;
}
.priceAndConfirmOrder .order_price span {
    font-weight: bold;
    font-size: 1.2em;
}

.product_cards {
    width: 100%;
    max-width: calc(240px * 3 + 5px * 2);
}

.confirm-order {
    display: block;
    font: inherit;
    max-width: max-content;
    margin: 20px auto;
    padding: 6px 10px;
    border-radius: var(--radiusBorder);
    transition: .2s ease;
    transition-property: background-color, color;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.confirm-order:hover {
    background-color: #f7882d;
}

.product_card-quantity {
    color: var(--primaryColor);
    font-weight: bold;
    background-color: #e7e7e7;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: var(--radiusBorder);
}

.noProductInCart {
    background-color: #f7882d;
    border-radius: var(--radiusBorder);
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    color: var(--whiteColor);
}

.noProductInCart a {
    background-color: var(--primaryColor);
    border-radius: var(--radiusBorder);
    padding: 5px;
    color: var(--whiteColor);
}

.noProductInCart a:hover {
    background-color: rgb(29, 29, 29);
}
