.header-app {
    position: relative;
  
    background-color: black;
    
    
}

.header-app__content {
    display: flex;
    justify-content: space-between;
    padding: 0 6%;
}

.header-app__logo a {
    display: flex;
    align-items: center;
    height: 58px;
}

.header-app__nav {
    position: relative;
}

.header-app__nav div {
    display: flex;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    visibility: hidden;
    pointer-events: none;
}

.header-app__nav ul {
    display: flex;
}

.header-app__nav li:hover {
    background-color: rgb(39, 39, 39);
}

.header-app__nav a {
    display: flex;
    align-items: center;
    color: #ffffff;
    height: 58px;
    padding: 0 20px;
}

.header-app__nav a.on {
    background-color: #60606020;
}

.header-app__toolbar {
    display: flex;
    gap: 20px;
    position: relative;
    top: 3px;
}

.header-app__toolbar div {
    display: flex;
    align-items: center;
    cursor: pointer;
}
