/* Styles for the Connexion page */
.top-content {
    text-align: center;
    background-color: var(--primaryColor);
    padding: 10px;
}

.top-content h2 {
    color: var(--whiteColor);
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    color: var(--primaryColor);
    font-weight: bold;
    margin-top: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
}

input[type="text"],
input[type="password"] {
    background-color: var(--whiteColor);
}

button {
    background-color: #000;
    color: var(--whiteColor);
    border: none;
    padding: 10px;
    border-radius: var(--radiusBorder);
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    transition: background-color .2s ease;
}
button:hover {
    background-color: var(--secondColor);
}

.alert-danger {
    background-color: #f44336;
    color: var(--whiteColor);
    padding: 10px;
    border-radius: var(--radiusBorder);
    margin-top: 10px;
    text-align: center;
}

.ConnexionStatus {
    text-align: center;
}

/* Styles for the "Vous êtes connecté en tant que" section */
.ConnexionStatus a {
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: bold;
    background-color: var(--primaryColor);
    padding: 5px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.ConnexionStatus a:hover {
    background-color: var(--secondColor);
}

/* Style for the "Vous n'êtes pas encore inscrit ?" link */
.GoToSignUp {
    text-align: center;
    margin: 20px 0 40px;
}

.GoToSignUp a {
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: bold;
    background-color: var(--primaryColor);
    padding: 5px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.GoToSignUp a:hover {
    background-color: var(--secondColor);
}
