h1 {
    background-color: var(--primaryColor);
    padding: 10px;
    color: white;
}

.order-info {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: var(--radiusBorder);
}

.order-info p {
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
    padding: 5px;
    margin-bottom: 5px;

}

.order-info p span {
    background-color: var(--primaryColor);
    color: white;
    margin-right: 5px;
    padding: 5px;
    border-radius: var(--radiusBorder);
    font-weight: bold;
}

.order_states {
    margin-left: 20px;
}
