.order-info {
    margin-bottom: 20px;
    border-radius: var(--radiusBorder);
}

.confirm_order {
    margin-bottom: 20px;
}

.confirm_order a {
    background-color: var(--secondColor);
    color: var(--primaryColor);
    padding: 6px 20px;
    border-radius: var(--radiusBorder);
    transition: .2s ease;
    transition-property: background-color, color;
}
.confirm_order a:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.order-info > p {
    margin-bottom: 5px;
}

.order-info > p span {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    margin-right: 5px;
    padding: 5px;
    border-radius: var(--radiusBorder);
    font-weight: bold;
}

.order_states {
    max-width: fit-content;
    margin-left: 20px;
    padding: 10px 0;
}

.order_states div hr {
    display: block;
    width: 0;
    height: 50px;
    margin: 0 auto;
    border: 1px dashed #ccc;
}

.order_states div p {
    padding: 5px 10px;
    border: 1px solid var(--primaryColor);
    border-radius: var(--radiusBorder);
}
.order_states .future {
    border-style: dashed;
    border-color: #ccc;
}

.order_states span {
    font-weight: bold;
}
