.app_container {
    padding-bottom: 20px;
}

.box_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box_title {
    max-width: fit-content;
    margin-bottom: 20px;
}

.box_title span {
    color: var(--secondColor);
}

.flex {
    display: flex;
    gap: 10px 5px;
    flex-wrap: wrap;
}

.order_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--primaryColor);
    max-width: var(--widthProductCard);
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: var(--radiusBorder);
    box-shadow: 0 2px 4px #0000001a;
    transition: border-color .2s ease;
}
.order_card:hover {
    border-color: var(--secondColor);
}

.order_card-body {
    flex-grow: 1;
}

.order_card p {
    padding: 10px;
    border-radius: var(--radiusBorder);
}

.order_num {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--whiteColor);
}

.order_num {
    background-color: var(--primaryColor);
    font-weight: bold;
}

.order_price {
    background-color: var(--secondColor);
}

.order_card p span {
    font-weight: bold;
}

.see_all_orders {
    margin-top: 20px;
}

.see_all_orders a {
    color: var(--primaryColor);
}

.logout-button {
    display: block;
    padding: 10px;
    border-radius: var(--radiusBorder);
    background-color: var(--primaryColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--whiteColor);
    font-weight: bold;
    max-width: fit-content;
    transition: background-color .2s ease;
}
.logout-button:hover {
    background-color: var(--secondColor);
}

.user-info p {
    margin-bottom: 25px;
    margin-top: 15px;
    border: 1px #ddd solid;
    max-width: fit-content;
    padding: 5px;
    border-radius: var(--radiusBorder);
}

.user-info p span {
    font-weight: bold;
}
