/* Styles for the Inscription page */

/* Alert for email verification error */
.alert-danger {
    background-color: #f44336;
    color: var(--whiteColor);
    padding: 10px;
    border-radius: var(--radiusBorder);
    margin-top: 10px;
    text-align: center;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex > div {
    width: 100%;
}

/* Style for the registration form */
form {
    max-width: 600px;
    margin: 0 auto;
}

/* Style for form elements */
label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: var(--radiusBorder);
}
input[type="checkbox"] {
    margin: 0 10px;
}

/* Style for the "Accepter les conditions" checkbox */
input[type="checkbox"] {
    margin-top: 10px;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #000;
    color: var(--whiteColor);
    border: none;
    padding: 10px;
    border-radius: var(--radiusBorder);
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    transition: background-color .2s ease;
}
button[type="submit"]:hover {
    background-color: var(--secondColor);
}

/* Style for form errors */
ul.errors {
    list-style-type: none;
    padding: 0;
    color: #f44336;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.ConnexionStatus {
    text-align: center;
}

.ConnexionStatus a {
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: bold;
    background-color: var(--primaryColor);
    padding: 5px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.ConnexionStatus a:hover {
    background-color: var(--secondColor);
}

.GoToSignIn {
    margin: 20px 0 40px;
    text-align: center;
}

.GoToSignIn a {
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: bold;
    background-color: var(--primaryColor);
    padding: 5px;
    border-radius: var(--radiusBorder);
    transition: background-color .2s ease;
}

.GoToSignIn a:hover {
    background-color: var(--secondColor);
}
