{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block body %}
    <h1>Mon panier</h1>
    <div class="app_container">
        {% if products is not empty %}
            {% set priceOrderHT = 0 %}
            <div class="product_cards">
                {% for item in products %}
                    {% set product = item[0] %}
                    {% set quantity = item[1] %}
                    {% set priceOrderHT = priceOrderHT + product.getUnitPrice() * quantity %}
                    {% include 'product_card.html.twig' with {'product': product, 'quantity': quantity} %}
                {% endfor %}
            </div>
            <div class="priceAndConfirmOrder">
                <p class="order_price">Total de la commande : <span class="order_price_value">{{ cart.formatPrice(priceOrderHT) }}</span></p>
                <button class="confirm-order">Passer la commande 💳</button>
            </div>
        {% else %}
            <p class="noProductInCart">Votre panier ne contient pas de produit, ajoutez-en <a href="{{ path('app_categories') }}">ici</a></p>
        {% endif %}
    </div>
{% endblock %}
