{% set svgCheck = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--greenColor)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>' %}
{% set svgNotCheck = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--redColor)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>' %}

<div class="product_card-stock">
    <div class="flex">
        <p>
            {{ (stock_web is empty ? svgNotCheck : svgCheck)|raw }}
            Internet
        </p>
        <p>
            {{ (stock_store is empty ? svgNotCheck : svgCheck)|raw }}
            Magasin
        </p>
    </div>
</div>
