{% extends 'base.html.twig' %}

{% block title %}Commande passée !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
    <div class="app_container app_padding">
        <h1>Votre commande (nº {{ order.getId() }}) d'un montant de {{ (order.getTotalPriceHT() + (order.getTotalPriceHT() * order.getTax() / 100))|format_currency('EUR') }}, a bien été enregistré</h1>
        <p>Vous allez être redirigé vers votre profil dans <span id="sec">10</span>s</p>
    </div>
{% endblock %}

{% block javascripts_body %}
    <script src="{{ asset('js/cart.js') }}"></script>
    <script>
        orderPrice.forEach(el => el.innerHTML = formatPrice(0));

        const sec = document.getElementById("sec");
        let i = 10;

        sec.innerText = i;
        i--;

        const countdown = setInterval(() => {

            sec.innerText = i;
            i--;

            if(i < 0) {

                clearInterval(countdown);
                location.replace("/mon-profil");
            }

        }, 1000);
    </script>
{% endblock %}
