{% extends 'base.html.twig' %}

{% block title %}Logistiques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block header %}
    {% include 'logistics/headerLinks.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Logistiques</h1>
{% endblock %}
