{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block header %}
    {% include 'client/headerLinks.html.twig' %}
{% endblock %}


{% block body %}
    <div class="app_container app_padding">
        <h1>Commande num. X</h1>
        <a href="{{ path('app_test_pdf') }}">Download my confirm order !</a>
    </div>
{% endblock %}
