<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All4Sport.fr | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="app">
            {% include 'header.html.twig' %}
            <main class="main-app">
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
