<header id="header-app" class="header-app">
	<div class="header-app__content">
		<div class="header-app__logo">
			<a href="{{ path('app_client_home') }}" title="All4Sport">
				<img src="{{ asset('media/images/header/logo.png') }}">
			</a>
		</div>
		<nav class="header-app__nav">
			<ul>
				{% block headerLinks %}{% endblock %}
			</ul>
		</nav>
	</div>
</header>
