{% extends 'base.html.twig' %}

{% block title %}Détail de la Catégorie
{% endblock %}

{% block body %}

	<h2>{{ category.name }}</h2>

	<h3>Nom de la Catégorie :
		{{ category.name }}</h3>
	{# Autres détails de la catégorie #}

{% endblock %}
